.todo-card {
  background: hsl(0, 0%, 65%);
  max-width: 250px;
  min-height: 40px;
  border-radius: 4px;
  padding: 0.25rem;
  word-break: break-word;
  margin-bottom: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-card:not(:last-child) {
  margin-right: 0.25rem;
}

.todo-list {
  margin-left: auto;
  margin-right: auto;
  max-width: 75vw;
  flex-wrap: wrap;
}

.delete-button {
  font-size: 0.75rem;
  line-height: 1.1;
  cursor: pointer;
  margin-left: 0.25rem;
  align-self: flex-start;
}

.add-todo {
  text-decoration: none;
  color: green;
  text-shadow: 0px 1px 0px black;
  width: 40px;
}