.todo-form-container {
  background: hsl(0, 0%, 65%);
  padding: 0.75rem;
  border-radius: 4px;
}

.field:not(:last-child) {
  margin-bottom: 0.5rem;
}

.field-label {
  margin-right: 1rem;
}

.todo-form-container input, .todo-form-container button {
  margin-bottom: 0.5rem;
}